body{
background-color:dimgray;
}
.loupe{
margin-top:50px;
width:10%;
}
h1{
color:black;
font-size:4em;
text-decoration: underline;
margin-bottom: 20px;
}
h2{
color: black;
text-decoration: underline;
margin-top: 10px;
margin-bottom: 20px;

}
.row{
height:auto;
margin-top:50px;
}
.dossier{
border:5px double black;
border-radius: 25px;
text-align: center;
}
a{
color: darkgrey;
font-size: 1.2em;
margin-top: 2px;
}
a:hover{
background-color: grey;
}
.imgfolder{
margin-right:5px;
width:5%;
}
.backbtn{
margin-top:150px;
border-radius: 25px;
width: 200px;
border: double black 2px;
padding: 10px;
}
.backbtn:hover{
background-color: grey
}
.file{
border:5px double black;
border-radius: 25px;
text-align: center;
}
.imgfile{
margin-right:5px;
width:5%;
}
.legend{
margin-top: 10%;
text-align: center;
color: gainsboro;
font-size: 0.8em;
}
